@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
    body {
        font-family: "Poppins", sans-serif;
        background-color: #eee;
    }
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
body {
    min-height: 100vh;
}

.custom-radio {
    width: 10px;
    height: 10px;
}

.custom-radio > div {
    box-shadow: 0 0 0 5px white;
}

.custom-radio input:checked + div {
    @apply bg-blue-500;
    box-shadow: 0 0 0 2.5px white,
        0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
}
.custom-checkbox input:checked + div .custom-checkbox-spare {
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.custom-checkbox-spare {
    width: 20px;
    height: 20px;
}
